.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    marginRight: -50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    background-color: var(--white);
    border: 1px solid var(--gray-300);
    padding: 2rem 4rem;
  }

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;

    position: relative;
}

.close {
    position: absolute;
    top: .5rem;
    right: .5rem;

    cursor: pointer;
    color: var(--gray-900)
}

.close:hover {
    color: var(--gray-400)
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
 }
 

.content strong {
    font-size: 1.5rem;
}

.image {
    width: 20rem;
}

.typography {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.accordion {
    width: 300px;
    border: 1px solid var(--gray-300);
}

.delete {
    color: var(--gray-900)
}

.delete:hover {
    color: var(--gray-400)
}

.move {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 1rem;
    padding: 0;
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.grass {
    background: var(--grassType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.poison {
    background: var(--poisonType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.fire {
    background: var(--fireType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.flying {
    background: var(--flyingType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.water {
    background: var(--waterType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.bug {
    background: var(--bugType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.normal {
    background: var(--normalType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.electric {
    background: var(--electricType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.ground {
    background: var(--groundType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.fairy {
    background: var(--fairyType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.fighting {
    background: var(--fightingType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.psychic {
    background: var(--psychicType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.rock {
    background: var(--rockType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.steel {
    background: var(--steelType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.ice {
    background: var(--iceType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.ghost {
    background: var(--ghostType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.dragon {
    background: var(--dragonType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.dark {
    background: var(--darkType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}


@media(max-width: 768px) {
    .modal {
        width: 100%;
    }
}

@media(max-width: 540px) {
    .container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .image {
        width: 15rem;
        height: 15rem;
    }

    .accordion {
        width: 250px;
    }
}