.contentLoggedIn {
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    max-width: 20rem;
    min-width: 10rem;
    border-radius: 50px;
    height: 2rem;
    transition: filter 0.2s;

    outline: 3px solid var(--yellow-500);
}

.contentLoggedOut:hover {
    outline: 3px solid var(--yellow-300);
}

.contentLoggedOut {
    display: flex;
    align-items: center;
    background: var(--white);
    max-width: 20rem;
    min-width: 10rem;
    border-radius: 50px;
    height: 2rem;
    transition: filter 0.2s;

    outline: 3px solid var(--yellow-500);
}

    .contentLoggedIn img {
        height: 2rem;
    }

    .contentLoggedOut img {
        height: 2rem;
    }

    .contentLoggedOut span { 
       display: flex;
        align-items: center;    
    }

    .closeIcon {
        margin-right: 1rem;
        cursor: pointer;
    }

    .closeIcon:hover {
        filter: brightness(0.5);
    }
    
    @media (max-width: 740px) {
        .contentLoggedOut{
            outline: 2px solid var(--yellow-500);
        }
    }

    @media (max-width: 480px) {
        .contentLoggedIn {
            display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--white);
    max-width: 20rem;
    min-width: 10rem;
    border-radius: 50px;
    height: 1.5rem;
    transition: filter 0.2s;

    outline: 2px solid var(--yellow-500);        
        }

        .contentLoggedIn img {
            height: 1.5rem;
        }
    }