.card {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    height: 25rem;
    width: 20rem;
    display: flex;
    border-radius: 5px;
    border: 1px solid var(--gray-400);
}

.card img {
    height: 12rem;
    width: 12rem;
    align-self: center;
}

.card strong {
    font-size: 1.5rem;
}

.content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    justify-content: center;
    align-items: center;
}

.a {
    height: 100%;
    border: 1px solid red;
}

.content button {
    height: 3rem;
    width: 15rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;


    color: var(--gray-800);
    font-weight: bold;
    font-size: 1rem;

    border: 1px solid var(--gray-800);
    border-radius: 5px;
    cursor: pointer;

    transition: all 0.2s;
}

.deleteFromTeam {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

.deleteFromTeam button {
    border: none;
    background: transparent;
    color: var(--gray-800);
    font-weight: bold;
    font-size: 1rem;
    padding: .5rem 1rem;
    border: 1px solid var(--gray-800);
    border-radius: 5px;

    transition: all 0.2s;

}

.deleteFromTeam .buttonLoggedIn:hover:before {
    content: 'Delete from team';
    margin-right: .5rem;
    
}

.buttonLoggedIn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonLoggedIn:hover {
    background: var(--blue-500);
    color: var(--yellow-500);
}

.types {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
}

.grass {
    background: var(--grassType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.poison {
    background: var(--poisonType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.fire {
    background: var(--fireType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.flying {
    background: var(--flyingType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.water {
    background: var(--waterType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.bug {
    background: var(--bugType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.normal {
    background: var(--normalType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.electric {
    background: var(--electricType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.ground {
    background: var(--groundType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.fairy {
    background: var(--fairyType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.fighting {
    background: var(--fightingType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.psychic {
    background: var(--psychicType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.rock {
    background: var(--rockType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.steel {
    background: var(--steelType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.ice {
    background: var(--iceType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.ghost {
    background: var(--ghostType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.dragon {
    background: var(--dragonType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}

.dark {
    background: var(--darkType);
    width: 5rem;
    height: 1.5rem;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;
}


@media(max-width: 1024px) {
    .card {
        height: 25rem;
        width: 17rem;
    }
}